<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>BlisGO!-device</title>
<meta name="twitter:description" content="분리배출 도우미(장치)">
<meta name="twitter:card" content="summary_large_image">
<meta property="og:image" content="assets/img/favicon512x512.png">
<meta name="description" content="분리배출 도우미(장치)">
<meta name="twitter:image" content="assets/img/favicon512x512.png">
<meta name="twitter:title" content="분리수GO!">
<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="assets/img/favicon180x180.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon16x16.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon32x32.png') }}">
<link rel="icon" type="image/png" sizes="180x180" href="{{ url_for('static', filename='images/favicon180x180.png') }}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='images/favicon192x192.png') }}">
<link rel="icon" type="image/png" sizes="512x512" href="{{ url_for('static', filename='images/favicon512x512.png') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
<link rel="manifest" href="manifest.json">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
<link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">